<!-- <div class="content-container">
  <div class="content-area"> -->
<header class="header-2">
  <div class="branding">
    <a>
      <cds-icon shape="book"></cds-icon>
      <span class="title">Consulta Coleções de Livros</span>
    </a>
  </div>
</header>
<br />
<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. Título do Livro"
    #input
  />
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- Usuario Column -->
  <ng-container matColumnDef="idUsuario">
    <th mat-header-cell *matHeaderCellDef>Usuário</th>
    <td mat-cell *matCellDef="let element">
      <a
        ><mat-icon
          aria-hidden="false"
          fontIcon="person"
          matTooltip="Visualize as informações do usuário."
          (click)="visualizarPerfil(element.idUsuario)"
        ></mat-icon
      ></a>
    </td>
  </ng-container>
  <!-- idLivro Column -->
  <ng-container matColumnDef="idLivro">
    <th mat-header-cell *matHeaderCellDef>Id Livro</th>
    <td mat-cell *matCellDef="let element">{{ element.idLivro }}</td>
  </ng-container>

  <!-- idColecao Column -->
  <ng-container matColumnDef="idColecao">
    <th mat-header-cell *matHeaderCellDef>Id Coleção</th>
    <td mat-cell *matCellDef="let element">{{ element.idColecao }}</td>
  </ng-container>

  <!-- titulo Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Título</th>
    <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
  </ng-container>

  <!-- autor Column -->
  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef>Autor</th>
    <td mat-cell *matCellDef="let element">{{ element.autor }}</td>
  </ng-container>

  <!-- genero Column -->
  <ng-container matColumnDef="genero">
    <th mat-header-cell *matHeaderCellDef>Gênero</th>
    <td mat-cell *matCellDef="let element">{{ element.genero }}</td>
  </ng-container>

  <!-- descricao Column -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
  </ng-container>

  <!-- informacao Column -->
  <ng-container matColumnDef="informacao">
    <th mat-header-cell *matHeaderCellDef>Informações</th>
    <td mat-cell *matCellDef="let element">{{ element.informacao }}</td>
  </ng-container>

  <!-- informacao Column -->
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
      <a
        ><mat-icon
          aria-hidden="false"
          fontIcon="swap_horiz"
          matTooltip="Realize a solicitação de troca."
          (click)="solicitacaoTroca(element)"
        ></mat-icon
      ></a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      Nenhum dado correspondente ao filtro "{{ input.value }}"
    </td>
  </tr>
</table>

<mat-paginator
  [length]="totalElementos"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Selecione a página"
  (page)="paginar($event)"
>
</mat-paginator>
<!-- </div>
</div> -->
